@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

.colored-section {
  background-color: #58b4ae;
  color: #fff;
}

.white-section {
  text-align: center;
  background-color: #c6cbef;
}

.container-fluid {
  padding: 3% 15%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  background:#58b4ae;
  line-height: 26px;
}

h1 {
  color: #ffb367;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 32px;
}
/* navigation bar */
.navbar{
  padding:0 0 4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2rem;
    font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-family: 'Montserrat';
  font-weight: 100;
  font-size: 1.5rem;
}
.foot{
  font-size: 15px;
}

.footer-logo {
  padding: 0 1% 1%;
}

.content {
  margin-bottom: 100px;
  width: 70%;
  padding: 20px;
  /* margin: 0 auto; */
  margin-left: auto;
  margin-right: auto;
  padding: 0 60px 0 0;
}



.question {
  color: #fff;
  position: relative;
  background: #58b4ae;
  margin: 0;
  padding: 10px 10px 10px 50px;
  display: block;
  width: 100%;
  cursor: pointer;
}

.answers {
  font-weight: 300;
  background: #f2f2f2;
  padding: 0px 15px;
  margin: 0px 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .7s ease;
  -moz-transition: .7s ease;
  -o-transition: .7s ease;
  transition: .7s ease;
}

.questions:checked~.answers {
  height: auto;
  opacity: 1;
  padding: 15px;
}

.plus {
  color: #fff;
  position: absolute;
  margin-left: 10px;
  margin-top: 5px;
  z-index: 5;
  font-size: 2em;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.questions:checked~.plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.questions {
  display: none;
}
/* contact */
#contact {
  width: 100%;
  height: 100vh;
  background-color: #c6cbef;
  /* overflow: hidden; */
  padding-bottom: 200px;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 50px;
  /* font: 300 60px 'Oswald', sans-serif; */
  letter-spacing: 6px;
  color: #fff;
  margin-bottom: 25px;
}

.contact-wrapper {
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  max-width: 800px;
}

/* Begin Right Contact Page */
.direct-contact-container {
text-align: left;
  margin-top: 5px;
  padding: 3% 30%;
  /* max-width: 400px; */
 margin-top: 5px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #900c3f;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #900c3f;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #900c3f;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 2.3rem;
  text-align: center;
  width: 100%;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  top: 0;
  left: -20px;
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 10px auto;
  line-height: 50px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #111;
}



hr {
  border-color: rgba(255,255,255,.8); ;
}
