body{
  font-family: 'Montserrat', ;
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat';
  font-weight: 700;
}
p{
  color: #8f8f8f;
}
.row{
  padding-top: 20px;
}
#title .big-heading{
  text-align: left;
}
.container-fluid{
  padding: 3% 15%;
}
.colored-section{
background-color: #58b4ae;
color: #fff;
}
.white-section{
  background-color: #c6cbef;
}

/* navigation bar */
.navbar{
  padding:0 0 4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2rem;
    font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-family: 'Montserrat';
  font-weight: 100;
  font-size: 1.5rem;
}
/* explaination */
.def{
  padding: 91px 8px;
  text-align: left;
}
.def-color{
  color:#b4f2e1;
}
.simi{
  color:#ffb367;
}
.simi_two{
  color: #584153;
}

/* flip box */
.zoom {
  padding: 40px;
  background-color: #c060a1;
  /* transition: transform .2s; /* Animation */
  width: 400px;
  margin: 0 auto;
}


.flip-box {
  margin-left: 50px;
  background-color: transparent;
  width: 400px;
  height:500px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {

  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front {
  background-color: #ffbd69;
  color: black;
  margin:10px;

}

/* Style the back side */
.flip-box-back {
  transform: rotateY(180deg);
}


img{
  background-position: center;
}
/* about section */
.icon{
  color: #c060a1;
  margin-bottom: 12%;
}
.icon:hover{
  color: #000000;
}
.para{
  padding: 12% 4%;
}
.container-fluid{
  padding: 7% 15%;
}
#testimonials{
  background-color: #58b4ae;
  color: #fff;
}
.testimonial-text{
  font-size: 2.5rem;
  line-height: 1.5;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
.cossine-image{
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 100%;
}

.jaccard-image{
  width: 25%;
  float: right;
  margin-left: 30px;
border-radius: 100%;}

.proposed-image{
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 100%;
}

/* contact page */
#contact {
  width: 100%;
  height: 100vh;
  background-color: #c6cbef;
  overflow: hidden;
  /* padding-bottom: 200px; */
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 50px;
  /* font: 300 60px 'Oswald', sans-serif; */
  letter-spacing: 6px;
  color: #fff;
  /* margin-bottom: 25px; */
}

.contact-wrapper {
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  max-width: 800px;
}

/* Begin Contact Page */
.direct-contact-container {
text-align: left;
  margin-top: 5px;
  padding: 3% 30%;
  /* max-width: 400px; */
 /* margin-top: 5px; */
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #900c3f;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #900c3f;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #900c3f;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 2.3rem;
  text-align: center;
  width: 100%;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  top: 0;
  left: -20px;
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 10px auto;
  line-height: 50px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #111;
}
