body{
  font-family: 'Montserrat', ;
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat';
  font-weight: 700;
}
p{
  color: #8f8f8f;
}
.row{
  padding-top: 20px;
}
#title .big-heading{
  text-align: left;
}
.container-fluid{
  padding: 3% 15%;
}
.colored-section{
background-color: #58b4ae;
color: #fff;
}
.white-section{
  background-color: #c6cbef;
}

/* navigation bar */
.navbar{
  padding:0 0 4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2rem;
    font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-family: 'Montserrat';
  font-weight: 100;
  font-size: 1.5rem;
}
.def{
  padding: 91px 8px;
  text-align: left;
}
.def-color{
  color:#b4f2e1;
}
.simi{
  color:#ffb367;
}
.simi_two{
  color: #584153;
}


.zoom {
  padding: 40px;
  background-color: #c060a1;
  /* transition: transform .2s; /* Animation */
  width: 400px;
  margin: 0 auto;
}


.flip-box {
  margin-left: 50px;
  background-color: transparent;
  width: 400px;
  height:500px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {

  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front {
  background-color: #ffbd69;
  color: black;
  margin:10px;

}

/* Style the back side */
.flip-box-back {
  transform: rotateY(180deg);
}


img{
  background-position: center;
}


.icon{
  color: #c060a1;
  margin-bottom: 12%;
}
.icon:hover{
  color: #000000;
}
.para{
  padding: 12% 4%;
}
.container-fluid{
  padding: 7% 15%;
}
#testimonials{
  background-color: #58b4ae;
  color: #fff;
}
.testimonial-text{
  font-size: 2.5rem;
  line-height: 1.5;
}
/* .testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
} */
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
.cossine-image{
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 100%;
}

.jaccard-image{
  width: 25%;
  float: right;
  margin-left: 30px;
border-radius: 100%;}

.food-image{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.footer-logo{
  padding:3% 1% 1%;
}
